{% block min_max_range_widget %}
    {% set name = form.vars.name %}
    <input type="text" class="min-max-slider d-none"
           data-from="{{ attribute(form, name~'_from').vars.value|round(0) }}" data-min="{{ attribute(form, name~'_min').vars.value|round(0) }}"
           {% if attribute(form, name~'_to').vars.value|round(0) > 0 %}data-to="{{ attribute(form, name~'_to').vars.value|round(0) }}" {% endif %} data-max="{{ attribute(form, name~'_max').vars.value|round(0) }}"
           data-target-min="{{ attribute(form, name~'_from').vars.id }}" data-target-max="{{ attribute(form, name~'_to').vars.id }}">

    <div class="d-none">
        {{ form(form) }}
    </div>
{% endblock %}
